/* this is the style sheet for creating the given project the colorgame */

body
{
	background-color: #232323;
	margin: 0;		
	font-family: "Roboto Condensed";
}
.square
{
	width: 30%; 
	background-color: purple;
	padding-bottom: 30%;
	float:left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 1.0s;
}
#container
{
	max-width: 600px;
	margin: 0 auto;
}
h1
{
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
	transition: background 1.0s;
}
#colorDisplay
{
	color: white;
	font-size: 200%;
}


#strip
{
	background-color: white;
	height: 30px;
	color: black;
	text-align: center;
}
.selected
{
	background-color: steelblue;
	color: white;		
}
button
{
	font-style: "Roboto Condensed";
	border: none;
	background-color: white;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition:  all 0.5s ;
}
#message
{
	display: inline-block;
	width: 20%;
	font-size: inherit;
}
button:hover
{
	background-color: steelblue;
	color: white;
}
